{% extends 'templates/base.html' %}
{% load staticfiles %}
{% block topscript %}
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
                <h2 class="page-header">About Master of Classes</h2>
        </div>
        <div class="col-lg-12">
           <p>This event came to be one morning a few weeks ago when BUICK, samiface, ScottJAw, and KevinIsPwn were hanging out in a mumble casually talking about ways they could benefit the community. After about an hour of conversation, the ideas for the "Masters of Classes" event—a name Kevin is a little bit too proud of—really started developing into an actual event. A few weeks and many man hours later, here we are!</p>

<p>"Masters of Classes" is an event run under TF2Stadium, but there are several people both involved with and not involved with TF2Stadium that were pivotal in the creation of this event.</p>

<h4>KevinIsPwn</h4>
<p>Runs newbie mixes, helps with tf2stadium, and runs various tournaments for tf2. Kevin orchestrated a lot of the organizational structure and behind the scenes stuff for the event. He also created some of the course images.</p>

<h4>Dr.shdwpuppet</h4>
<p>Helps out in various roles behind the scenes in a few tf2 orgs. He created the backend code for this website and helped in organizing the event as a whole.</p>

<h4>Samiface</h4>
<p>Was an event coordinator for Pheonix Comicon for four years. She recently joined the tf2 community as a competitive player and streamer. She helped with a lot of the behind the scenes nitty-gritty.</p>

<h4>Capu</h4>
<p>Is the frontend developer and graphic designer for TF2Stadium. He created the shell of this website which Dr.shdwpuppet has branched off of.</p>

<h4>ScottJAw</h4>
<p>Is a TF2 youtuber. He helped largely in the brainstorming phases.</p>

<h4>Randal</h4>
<p>Is a newbie mix admin. He is the head of the individual course-admins and also helped organize the event.</p>

<h4>BUICK</h4>
<p>Is a TF2 caster and personality. He helped organize some classes along with some of the partnerships MoC is using.</p>

<h4>Thanks to</h4>
<p>TragicServers for providing nearly all mumble and game servers for this event.</p>
<p>TF2Stadium for its support and eagerness to be involved with the project.</p>
<p>All our coaches, lecturers, and panelists for volunteering their time to the event.</p>
<p>All our admins for helping organization of this event at the ground level.</p>
<p>Valve for making such a great freaking game.</p>

        </div>
    </div>

{% endblock %}
{% block bottomscript %}
{% endblock %}