{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masters of classes</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" href="{% static 'css/masterclass-list.css.css' %}">
      <link rel="stylesheet" href="{% static 'css/masterclass-detail.css.css' %}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body class="container clearfix">
    <header>
      <a href="#" class="header-image">
        <h1>Masters of classes</h1>
      </a>
    </header>
    <nav>
      <a href="#">Home</a>
      <a href="{% url 'class_index' %}">Classes</a>
      <a href="#">About</a>
        {% if request.user.is_staff  %}<a href="{% url 'class_manager' %}">Manage</a>{% endif %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% if user.is_authenticated %}
        Your are logged in as {{ request.user.username }}
    {% else %}
        <a href="{% url 'social:begin' 'steam' %}?next={{ request.path }}">Sign In Through Steam</a>
    {% endif %}
  </body>
</html>