{% extends 'templates/base.html' %}
{% load staticfiles %}
{% block topscript %}
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron landing-spacer">
            <h1>Master of Classes</h1>
            <p>Welcome to the Masters of Classes website. Masters of Classes is the largest learning event in tf2 history, scheduled to happen on November 14th, 2015. On this website, you can sign up for various TF2 masterclasses, run by some of the most knowledgeable people the community has to offer. Sign in through steam, and reserve your slot in classes now!</p>
            <p><a href="{% url 'class_index' %}" class="btn btn-primary btn-large">See All Classes!</a>
            </p>
        </header>
    </div>
{% endblock %}