{% extends 'templates/base.html' %}
{% load staticfiles %}
{% block topscript %}
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron landing-spacer">
            <h1>Master of Classes</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p><a href="{% url 'class_index' %}" class="btn btn-primary btn-large">See All Classes!</a>
            </p>
        </header>
    </div>
{% endblock %}