
<!doctype html>
<html lang="en">
<head>
    <title>Sssoon Page </title>
    
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}css/landing.css" rel="stylesheet" />
  
</head>

<body>
<div class="main" style="background-image: url('{{ STATIC_URL }}images/default.jpg')">
    <div class="cover black" data-color="black"></div>
    <div class="container">
        <h1 class="logo">
            Master Of Classes
        </h1>
        <div class="content">
            <h4 class="motto">The best ever series of TF2 classes is coming soon.</h4>
            <div class="subscribe">
                <h5 class="info-text">
                    Stay tuned for more information.
                </h5>
            </div>
        </div>
    </div>
 </div>
 </body>

</html>