{% extends 'templates/base.html' %}
{% load staticfiles %}
{% block topscript %}
    <link href="{% static 'css/manage_classes.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8"><table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>PK</th>
                <th>Class Name</th>
                <th>Teacher</th>
                <th>Attendees</th>
                <th>Time</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for class in classes %}
                <tr>
                    <td>{{ class.pk }}</td>
                    <td>{{ class.name }}</td>
                    <td>{{ class.teacher }}</td>
                    <td>{{ class.attendees.count }}</td>
                    <td>{{ class.start_time }}-{{ class.end_time }}</td>
                    <td><div class="btn-group">
                  <a href="{% url 'class_edit' class.pk %}" class="btn btn-default">Edit</a>
                  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'class_toggle_live' class.pk %}">Toggle Class Live</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#modal{{ class.pk }}">Delete</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div></td>
                </tr>
                <div class="modal fade bannerformmodal{{ class.pk }}" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal{{ class.pk }}" aria-hidden="true" id="modal{{ class.pk }}">
<div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are You Sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Deleting the class is a permanent action. The site admin (Dr.Shdwpuppet) will not listen to your tears if you remove this class, he cannot fix it. Do not delete this class unless you are absolutely positive that is what you want to do. Kevin, I swear to god if you just click through and don't pay attention I will be dissapointed.</p>
                    <p>The class you are about to delete is {{ class.name }}, is being taught by {{ class.teacher }} and currently has {{ class.attendees.count }} currently signed up. EVERY SINGLE SIGNED UP PERSON WILL BE DROPPED FROM THIS CLASS IF YOU DELETE IT. I CANNOT GET THOSE BACK.</p>
                    <p>God help us all.</p>
                  </div>
              <div class="modal-footer">
                <a href="{% url 'class_delete' class.pk %}" type="button" class="btn btn-danger">YES I AM SURE</a>
              </div>
        </div>
        </div>
      </div>
    </div>
            {% endfor %}
            </tbody>
        </table></div>
        <div class="col-md-4">
            <form class="form-horizontal" method="post">
                <fieldset>
                    <legend>Legend</legend>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <label>Start Time</label>
                        <select name="start_time">
                            <option value="13">1 PM</option>
                            <option value="14">2 PM</option>
                            <option value="15">3 PM</option>
                            <option value="16">4 PM</option>
                            <option value="17">5 PM</option>
                            <option value="18">6 PM</option>
                            <option value="19">7 PM</option>
                            <option value="20">8 PM</option>
                            <option value="21">9 PM</option>
                            <option value="22">10 PM</option>
                        </select>
                        <select name="start_min">
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>End Time</label>
                        <select name="end_time">
                            <option value="13">1 PM</option>
                            <option value="14">2 PM</option>
                            <option value="15">3 PM</option>
                            <option value="16">4 PM</option>
                            <option value="17">5 PM</option>
                            <option value="18">6 PM</option>
                            <option value="19">7 PM</option>
                            <option value="20">8 PM</option>
                            <option value="21">9 PM</option>
                            <option value="22">10 PM</option>
                        </select>
                        <select name="end_min">
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Add Class</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}