{% extends 'templates/base.html' %}
{% load staticfiles %}
{% block topscript %}
    <link href="{% static 'css/masterclass-detail.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% if form.errors %}
       <div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Oh snap!</strong> {{ form.non_field_errors }}
    </div>
    {% endif %}
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="{% static 'images/class_images/'%}{{ class.image_name }}_lg.jpg" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>{{ class.name }}</h1>
                <p>{{ class.description }}</p>

                    {% if request.user.attendee in class.attendees.all %}
                        <a href="{% url 'class_drop' class.pk request.user.pk %}" class="btn btn-primary btn-lg">Drop Class</a>
                    {% else %}
                        <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    {{ field }}
                    {% endfor %}
                    <button class="btn btn-primary btn-lg">Sign Up For Class</button></form>
                    {% endif %}
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    This is a well that is a great spot for a business tagline or phone number for easy access!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-8">
                <h2>Heading 1</h2>
                <p>ccusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <div class="col-md-4">
<div class="panel panel-default">
                <div class="panel-heading">Class Participants</div>
                <div class="panel-body">
                  {% for attendee in class.attendees.all %}
                    {{ attendee.user.username }}{% if request.user.is_staff %} <a href="{% url 'class_drop' class.pk attendee.user.pk %}">(Drop)</a>{% endif %}
                {% endfor %}
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
{% endblock %}
